ul {
  list-style-type: none;
}
li {
  margin: 5px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  margin: 15px;
  padding: 15px;
  flex-direction: column;
}

.border {
  border: 2px;
  box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}